@import "part:@sanity/base/theme/variables-style";

.tab:hover {
  cursor: pointer;
  border-color: transparent !important;
}

.tab > span {
  border-bottom: 0 !important;
  border-bottom-left-radius: 0 0 !important;
  border-bottom-right-radius: 0 0 !important;
  border-color: var(--hairline-color) !important;
}

.tab:first-child > span {
  border-top-left-radius: var(--border-radius-base) var(--border-radius-base) !important;
}

.tab:last-of-type > span {
  border-top-right-radius: var(--border-radius-base) var(--border-radius-base) !important;
}

.tab:not(:first-child) > span {
  border-top-left-radius: 0 0 !important;
}

.tab:not(:last-of-type) > span {
  border-top-right-radius: 0 0 !important;
}

.tab_headers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tab_header__error {
  margin-left: var(--extra-small-padding);
}

.content_document {
  padding-top: var(--small-padding);
  border-top: 1px solid var(--hairline-color);

  @media (min-width: 32em) {
    padding-top: var(--medium-padding);
  }
}

.content_object {
  padding: var(--small-padding);
  border: 1px solid var(--hairline-color);
  border-radius: 0 var(--border-radius-base) var(--border-radius-base);

  @media (min-width: 32em) {
    padding: var(--medium-padding);
  }
}
