@import "part:@sanity/base/theme/variables-style";
@import "part:@sanity/components/buttons/default-style";


.tab {
  font-size: var(--font-size-h4);
  line-height: var(--font-size-h4);
  display: flex;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.tab__active {
  margin-bottom: -1px;
  border-left: 1px solid var(--color-button-inverted-border);
  border-top: 1px solid var(--color-button-inverted-border);
  border-right: 1px solid var(--color-button-inverted-border);
  border-bottom: 1px solid var(--component-bg);
  border-top-left-radius: var(--border-radius-base);
  border-top-right-radius: var(--border-radius-base);
  box-shadow: 0 -2px 2px -2px var(--color-button-inverted-border), 
    2px 0px 2px -2px var(--color-button-inverted-border), 
    -2px 0px 2px -2px var(--color-button-inverted-border);

  & .tab_inner {
    margin-top: -1px;
  }
}

.tab_inner {
  padding: var(--small-padding) var(--medium-padding);

  & svg {
    margin-left: var(--extra-small-padding);
  }
}

.tab_headers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--color-button-inverted-border);
}

.tab_header__error {
  margin-left: var(--extra-small-padding);
}

.content_document {
}

.content_object {
  padding: var(--small-padding);
  border: 1px solid var(--hairline-color);
  border-radius: 0 var(--border-radius-base) var(--border-radius-base);

  @media (min-width: 32em) {
    padding: var(--medium-padding);
  }
}

.field_wrapper {
  padding-top: var(--medium-padding);
}
