@import "part:@sanity/base/theme/variables-style";

.tab {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: -1px !important;
  border-bottom: none !important;
}

.tab_headers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tab_header__error {
  margin-left: var(--extra-small-padding);
}

.content_document {
  padding-top: var(--small-padding);
  border-top: 1px solid var(--hairline-color);

  @media (min-width: 32em) {
    padding-top: var(--medium-padding);
  }
}

.content_object {
  padding: var(--small-padding);
  border: 1px solid var(--hairline-color);
  border-top-right-radius: var(--border-radius-large);
  border-bottom-left-radius: var(--border-radius-large);
  border-bottom-right-radius: var(--border-radius-large);

  @media (min-width: 32em) {
    padding: var(--medium-padding);
  }
}
